extends layout

block content
    h1 #{title} for #{capitalise_helper(city)}
    dl 
        dt Geogrpahical co-ordinates:
        dd !{lat_lng_helper(coords.lat, coords.lng)}

    ul.weather
        each val in data.data
            li
                dl
                    dt #{date_helper(val.time)}
                    dd
                    dt Temp
                    dd !{temp_helper('C', val.temperatureMax)}
                    dt Summary
                    dd #{val.summary}


